package cmd

import "github.com/spf13/cobra"

var configCmd = &cobra.Command{
	Use:   "config",
	Short: "Exercise the config execution seam",
	RunE: func(cmd *cobra.Command, args []string) error {
		cmd.Println("config command is wired")
		return nil
	},
}

func init() {
	rootCmd.AddCommand(configCmd)
}
