package cmd

import "github.com/spf13/cobra"

var serveCmd = &cobra.Command{
	Use:   "serve",
	Short: "Exercise the serve execution seam",
	RunE: func(cmd *cobra.Command, args []string) error {
		cmd.Println("serve command is wired")
		return nil
	},
}

func init() {
	rootCmd.AddCommand(serveCmd)
}
